name: Build & Push API to ECR

on:
  push:
    branches: [ main ]
    paths:
      - "api/**"
      - ".github/workflows/api-build-push.yml"
  workflow_dispatch:
env:
    AWS_REGION: eu-north-1
    AWS_ACCOUNT_ID: 636851749897

    ECR_REPOSITORY: heavy-backend-api
    IMAGE_TAG: latest

    ECS_CLUSTER_NAME: heavy-backend-api-cluster
    ECS_SERVICE_NAME: heavy-backend-api-service

  # ← Кластер и сервис именно API

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: ./api
          push: true
          platforms: linux/amd64
          tags: |
            ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

      - name: Force new ECS deployment
        run: |
          aws ecs update-service \
            --cluster "${{ env.ECS_CLUSTER_NAME }}" \
            --service "${{ env.ECS_SERVICE_NAME }}" \
            --force-new-deployment \
            --region "${{ env.AWS_REGION }}"
